In [66]:
import pandas as pd
import numpy as np

In [67]:
data=pd.read_csv('ratings.csv')

In [68]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [73]:
df=pd.pivot_table(data,values='rating',index=['userId'], columns=['movieId'])
df=df.fillna(0)
df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(df, metric='cosine')
movie_similarity = pairwise_distances(df.T, metric='cosine')

In [23]:
mean_user_rating = df.mean(axis=1)[:, np.newaxis] 
ratings_diff = (df- mean_user_rating) 
user_pred = mean_user_rating + user_similarity.dot(ratings_diff) / np.array([np.abs(user_similarity).sum(axis=1)]).T
user_pred

array([[ 1.3643464 ,  0.63441294,  0.30399624, ...,  0.05530938,
         0.05530938,  0.05583801],
       [ 1.33592986,  0.57179082,  0.23799154, ..., -0.04164137,
        -0.04164137, -0.04143945],
       [ 1.33051175,  0.56764363,  0.22669657, ..., -0.04359972,
        -0.04359972, -0.0427717 ],
       ...,
       [ 1.50804884,  0.77084217,  0.46927821, ...,  0.22255834,
         0.22255834,  0.22175349],
       [ 1.29653296,  0.5386717 ,  0.21857931, ..., -0.0416201 ,
        -0.0416201 , -0.04108735],
       [ 1.76335143,  1.02423592,  0.71889492, ...,  0.44685047,
         0.44685047,  0.44630772]])

In [25]:
movie_pred = df.dot(movie_similarity) / np.array([np.abs(movie_similarity).sum(axis=1)])
movie_pred

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
userId,,,,,,,,,,,,,,,,,,,,,
1,0.080578,0.086104,0.086866,0.101867,0.095975,0.083604,0.096093,0.099225,0.101215,0.084525,...,0.104831,0.104831,0.104831,0.104831,0.104831,0.104831,0.104831,0.104831,0.104831,0.104040
2,0.010128,0.010322,0.011568,0.011827,0.011273,0.010663,0.011780,0.011619,0.011796,0.010785,...,0.011519,0.011519,0.011519,0.011519,0.011519,0.011519,0.011519,0.011519,0.011519,0.011168
3,0.009659,0.009753,0.009572,0.009791,0.009830,0.009505,0.009839,0.009936,0.009706,0.009527,...,0.009835,0.009835,0.009835,0.009835,0.009835,0.009835,0.009835,0.009835,0.009835,0.009793
4,0.066776,0.071721,0.073307,0.076716,0.074792,0.069277,0.073258,0.077348,0.078156,0.070704,...,0.079453,0.079453,0.079453,0.079453,0.079453,0.079453,0.079453,0.079453,0.079453,0.078705
5,0.011464,0.012135,0.013683,0.014533,0.013557,0.012628,0.013366,0.014867,0.015764,0.011759,...,0.016564,0.016564,0.016564,0.016564,0.016564,0.016564,0.016564,0.016564,0.016564,0.016360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.384593,0.399740,0.407977,0.414219,0.409724,0.397096,0.390726,0.418499,0.419587,0.399941,...,0.421814,0.421814,0.421814,0.421814,0.421814,0.421814,0.421814,0.421814,0.421814,0.417986
607,0.055982,0.060046,0.063043,0.070415,0.067051,0.059511,0.066621,0.069353,0.070374,0.058867,...,0.073272,0.073272,0.073272,0.073272,0.073272,0.073272,0.073272,0.073272,0.073272,0.072766
608,0.218812,0.222983,0.236075,0.263849,0.249105,0.227067,0.250201,0.253903,0.261746,0.220362,...,0.269377,0.269377,0.269377,0.269377,0.269377,0.269377,0.269377,0.269377,0.269377,0.264903
609,0.009315,0.009866,0.010590,0.011644,0.010802,0.010115,0.010647,0.011572,0.011626,0.008731,...,0.012527,0.012527,0.012527,0.012527,0.012527,0.012527,0.012527,0.012527,0.012527,0.012390
610,0.442780,0.456597,0.486772,0.495547,0.487153,0.441986,0.493952,0.486213,0.494035,0.463528,...,0.493481,0.493481,0.493481,0.493481,0.493481,0.493481,0.493481,0.493481,0.493481,0.488073

In [64]:
df[1]

1      4.0
2      0.0
3      0.0
4      0.0
5      4.0
      ...
606    2.5
607    4.0
608    2.5
609    3.0
610    5.0
Name: 1, Length: 610, dtype: float64

In [75]:
movie1_user_ratings = df[1]

In [76]:
similar_to_movie1 = df.corrwith(movie1_user_ratings)

In [79]:
corr = pd.DataFrame(similar_to_movie1,columns=['Correlation'])
corr.dropna(inplace=True)
corr=corr.sort_values(by=['Correlation'],ascending=False)
corr.head()

         Correlation
movieId
1           1.000000
3114        0.461761
1265        0.361540
780         0.358473
1073        0.357314

In [82]:
def rec_movie(x):
    rate_x=df[x]
    similar_movie=df.corrwith(rate_x)
    corr=pd.DataFrame(similar_movie,columns=['correlation'])
    corr=corr.dropna()
    corr=corr.sort_values(by=['correlation'], ascending=False)
    print(corr.head())

In [85]:
rec_movie(10)

         correlation
movieId
10          1.000000
165         0.512232
349         0.475713
380         0.447032
316         0.446341